body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner"
        "nav"
        "main"
        "footer";
        grid-gap: 4px;
    
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #DDD;  /* silver */
    font-size: 150%;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #EEE;  /* very pale grey */
    border: solid 1px #CCC;
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    background-color: #ddd;
}


/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Links */
.nav a {font-weight: bold;}
.nav a:link, .nav a:visited {color: #AA0000;} /*dark red */
.nav a:hover {color: #604830; text-decoration: none;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


















